<nav class="navbar navbar-dark bg-dark ml-3 mr-3 mt-3 ">
    <button class="navbar-toggler" type="button" style="color: floralwhite;" data-toggle="collapse"
        data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
        aria-label="Toggle navigation">
        Bookmydoc <span class="navbar-toggler-icon"></span>
    </button>


</nav>
<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="p-3 ml-3" style="background-color: rgb(190, 184, 226);">

            <ul class='navbar-nav mr-auto'>
                <h5><img src="/assets/Images/d1.png" style="height: 40px; width: 40px;"><b style="font-size: 30px;">
                        admin</b></h5>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/patientdetails"><i class="fa fa-male"></i> Patient Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/doctorDetails"><i class="fa fa-user-md"></i> Doctor Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/clinicdetails"><i class="fa fa-h-square"></i> Clinic Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/medicalcenterdetails"><i class="fa fa-heartbeat"></i> Medical
                        Center Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/hospitaldetails"><i class="	fa fa-hospital-o"></i> Hospital
                        Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/managelocation"><i class="fa fa-location-arrow"></i> Manage
                        Location</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/manageadditionaldetails"><i class="fa fa-info-circle"></i> Manage
                        Additional Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/settings"><i class="fa fa-wrench"></i> Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/ratings"><i class="fa fa-star-o"></i> Ratings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/doctorappointmentdetails"><i class="fa fa-stethoscope"></i>
                        DoctorAppointmentDetails</a>
                </li>

            </ul>
        </div>
    </div>
</div>

<table class="table table-bordered col-md-10 offset-1" style="margin-top: 100px;">
    <thead>
        <tr style="background-color: rgb(252,0,138); color: white;">
            <th scope="col">S.no</th>
            <th scope="col">Medicine name</th>
            <th scope="col">quantity</th>
            <th scope="col">expiry</th>
            <th scope="col">price</th>

        </tr>
    </thead>
    <tr>
        <td>1</td>
        <td>Paracetmol</td>
        <td>20</td>
        <td>4/22</td>
        <td>1.25</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Calcium-500</td>
        <td>146</td>
        <td>2/21</td>
        <td>128</td>
    </tr>
    <tr>
        <td>3</td>
        <td>D3</td>
        <td>10</td>
        <td>9/21</td>
        <td>286</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Megapin</td>
        <td>10</td>
        <td>2/23</td>
        <td>3</td>
    </tr>

</table>
