<nav class="navbar navbar-dark bg-dark ml-3 mr-3 mt-3 ">
    <button class="navbar-toggler" type="button" style="color: floralwhite;" data-toggle="collapse"
        data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
        aria-label="Toggle navigation">
        Bookmydoc <span class="navbar-toggler-icon"></span>
    </button>


</nav>
<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="p-3 ml-3" style="background-color: rgb(190, 184, 226);">

            <ul class='navbar-nav mr-auto'>
                <h5><img src="/assets/Images/d1.png" style="height: 40px; width: 40px;"><b style="font-size: 30px;">
                        admin</b></h5>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/patientdetails"><i class="fa fa-male"></i> Patient Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/doctorDetails"><i class="fa fa-user-md"></i> Doctor Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/clinicdetails"><i class="fa fa-h-square"></i> Clinic Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/medicalcenterdetails"><i class="fa fa-heartbeat"></i> Medical
                        Center Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/hospitaldetails"><i class="	fa fa-hospital-o"></i> Hospital
                        Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/managelocation"><i class="fa fa-location-arrow"></i> Manage
                        Location</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/manageadditionaldetails"><i class="fa fa-info-circle"></i> Manage
                        Additional Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/settings"><i class="fa fa-wrench"></i> Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/ratings"><i class="fa fa-star-o"></i> Ratings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/doctorappointmentdetails"><i class="fa fa-stethoscope"></i>
                        DoctorAppointmentDetails</a>
                </li>

            </ul>
        </div>
    </div>
</div>