<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="assets/Images/d1.png " width="150px" height="100px">
    <div style="text-align: center;" class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">

       
        <ul class="navbar-nav ">
       
            <li class="nav-item active">
                <a class="nav-link" routerLink="/header" style="text-decoration: 1px rgb(252, 0, 138);">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/header">About us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/header">Careers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/header">Contacts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/header">terms</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/header">Faqs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/header">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/header">Doctor blog</a>
            </li>
        </ul>
    </div>
</nav>

<div class="color">
    <form [formGroup]="regGroup" action="#"  method="GET">
        <div class="card col-sm-6 offset-sm-3 mt-2">
            <div class="card-body m-3 ">
                <div class="offset-3">
                    <h1 style="text-align: center;" style="color: black;"><u>Patient Registration</u></h1>
                </div>
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" name="username" placeholder="Please Enter Name" 
                        formControlName="username">
                </div>
               
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" name="email" placeholder="Please Enter Your Email" 
                        formControlName="email">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" name="password" placeholder="Please Enter Your password"
                         formControlName="password">
                </div>
                <div class="form-group">
                    <label for="mobile">Mobile Number</label>
                    <input type="text" class="form-control" name="mobile" placeholder="Please Enter Your mobile number"  
                    formControlName="mobile">
                </div>
                <div class="form-group">
                    <label for="dob">Date of Birth:</label>
                    <input type="date" class="form-control" name="dob" placeholder="Please Enter Your DOB" 
                        formControlName="dob">
                </div>
                <div class="form-group">
                    <label for="problem">Problem</label>
                    <input type="text" class="form-control" name="problem" placeholder="Please Enter Your problem"
                         formControlName="problem">
                </div>
                <div class="form-group">
                    <label for="place">Place(coming from)</label>
                    <input type="text" class="form-control" name="place" placeholder="Please Enter place" 
                        formControlName="place">
                </div>
                <button type="submit" class="btn btn-outline-success btn-block" (click)="submit()"
                    >Submit</button>
            </div>
        </div>
    </form>
</div>